
.card:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
.card-area {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width:350px;
    min-height: 230px;
    border-bottom: 4px solid #006aff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:16px
    position: relative;
    justify-content: space-between;
    background-color: lightskyblue;
    color: mediumvioletred;


}
.side {
    display:flex;
}